body{background-color: black;color: white;text-align: center;
font-family:T;
}
.line{background-color: white;width: 50%;padding: 1px;}
.circle{width: 100px;
height: 70px;
border-radius: 50%;
display: inline-block;
background-color:#FFC500;
margin-left:-40%;
margin-top: 20px;
}
.numbers1{margin-left: -40%;
margin-top: -50px;
}
.line1{height: 1px;
width: 300px;
background-color: #FFC500;
display: inline-block;
margin-top: -55px;
margin-left:-8%;
}
.sidecircle1{width: 180px;
height: 150px;
border-radius: 50%;
border:#FFC500 dashed;
display: inline-block;
margin-left: 100%;
margin-top: -50%;
}


.circle2{width: 100px;
    height: 70px;
    border-radius: 50%;
    display: inline-block;
    background-color:#38A09F;
    margin-left:-40%;
    margin-top: 7%;
    }
    .numbers2{margin-left: -40%;
    margin-top: -50px;
    }
    .line2{height: 1px;
    width: 300px;
    background-color:#38A09F;
    display: inline-block;
    margin-top: -3%;
    margin-left:-8%;
    }
    .sidecircle2{width: 180px;
        height: 150px;
        border-radius: 50%;
        border:#38A09F dashed;
        display: inline-block;
        margin-left: 100%;
        margin-top: -50%;
        }

 .circle3{width: 100px;
            height: 70px;
            border-radius: 50%;
            display: inline-block;
            background-color:#FFC500;
            margin-left:-40%;
            margin-top: 8%;
            }
            .numbers3{margin-left: -40%;
            margin-top: -50px;
            }
            .line3{height: 1px;
            width: 300px;
            background-color:#FFC500;
            display: inline-block;
            margin-top: -3%;
            margin-left:-8%;
            }
            .sidecircle3{width: 180px;
                height: 150px;
                border-radius: 50%;
                border:#FFC500 dashed;
                display: inline-block;
                margin-left: 100%;
                margin-top: -50%;
                }
                
                
.circle4{width: 100px;
            height: 70px;
            border-radius: 50%;
            display: inline-block;
            background-color:#38A09F;
            margin-left:-40%;
            margin-top: 7%;
            }
            .numbers4{margin-left: -40%;
            margin-top: -50px;
            }
            .line4{height: 1px;
            width: 300px;
            background-color:#38A09F;
            display: inline-block;
            margin-top: -3%;
            margin-left:-8%;
            }
            .sidecircle4{width: 180px;
            height: 150px;
            border-radius: 50%;
            border:#38A09F dashed;
            display: inline-block;
            margin-left: 100%;
            margin-top: -50%;
            } 